# Dependencies
node_modules/

# Build output
dist/
build/

#postman collections
postman/

# Environment variables
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*

# Editor/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Coverage/test output
coverage/
